DEVICE=cpu
LLM_DEVICE=gpu
MODEL_PATH=./models
MAPPINGS_PATH=./mappings.json
UI_PATH=./dist
HF_TOKEN=<hf_token>
LANGS= bert_base_fft bert_base_lora bert_eurlex_fft bert_eurlex_lora
AUTH_TOKEN= <auth_token>